ion-content{
  --background: rgba(0, 0, 0, 0.8);
}
.no-bg{
  font-family: 'Cairo', sans-serif;
  --background: rgba(0, 0, 0, 1);
  color: white;
}
ion-card{
  --background:rgba(0, 0, 0, 0.4);
  color: white;
}
ion-card-header{
  font-family: 'Cairo', sans-serif;
}
ion-card-content{
  font-family: 'Lalezar', cursive;
}
