<ion-header>


  <ion-toolbar class="no-bg">

    <ion-buttons slot="end">
      <ion-button (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">ثبت نامی</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-card *ngFor="let model of serverData">

    <ion-card-content>


      <div class="container-fluid">
        <div class="row d-flex justify-content-between">
          <div class="col text-right">
            <ion-icon  name="checkmark-done-outline" class="ml-3"></ion-icon>
            <ion-label class="font">{{model.Service_Text}}</ion-label>
          </div>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col text-right">
            اسم :
          </div>
          <div class="col">
             {{model.MemberFullName}} <ion-icon name="body-outline"></ion-icon>
          </div>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col text-right">
            مبلغ
          </div>
          <div class="col">
            {{model.OneSessionAmount |  number}}<span class="mr-2">ریال</span>
          </div>
        </div>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-fab   (click)="filterButton()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [disabled]="loading" style="color: #0d0d0d" class="font ">
      <ion-icon color="dark" *ngIf="!filter && !loading" name="add"></ion-icon>
      <ion-icon color="dark" *ngIf="filter && !loading" name="close-outline"></ion-icon>
      <ion-spinner *ngIf="loading"></ion-spinner>
    </ion-fab-button>

  </ion-fab>


</ion-content>

<ion-footer *ngIf="filter">
  <app-filter (filterData)="getDataFromFilter($event)"></app-filter>
</ion-footer>
