<ion-header>


  <ion-toolbar class="no-bg">

    <ion-buttons slot="end">
      <ion-button (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">تک جلسه ای</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>



  <ion-card *ngFor="let data of receiveData">

    <ion-card-content>


      <ion-card-header class="ion-text-right">{{data.title}}</ion-card-header>
      <div class="container-fluid">

        <div class="row d-flex justify-content-between">
          <div class="col text-right">
            مبلغ
          </div>
          <div class="col">
            {{data.total}}
          </div>
        </div>
      </div>

    </ion-card-content>
  </ion-card>














  <ion-fab (click)="filterButton()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button style="color: #0d0d0d" class="font ">
      <ion-icon color="dark" *ngIf="!filter" name="add"></ion-icon>
      <ion-icon color="dark" *ngIf="filter" name="close-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>


</ion-content>

<ion-footer *ngIf="filter">
  <app-filter (filterData)="getDataFromFilter($event)"></app-filter>
</ion-footer>
