<ion-header>
  <ion-toolbar class="no-bg">
    <ion-buttons slot="end">
      <img class="logo-header ion-margin-start" height="50px" src="assets/logo.svg"/>
    </ion-buttons>
    <ion-title class="ion-text-center font"><h6>{{name}}</h6></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="justify-content-between d-flex">
          <ion-col class="text-right"><span> امروز :</span> </ion-col>
          <ion-col class="ion-text-end"><span>{{date | perNumber}}</span></ion-col>


    </ion-card-content>
  </ion-card>
  <ion-card (click)="register()">

  <ion-card-content>


    <div class="container-fluid">
      <div class="row d-flex justify-content-between">
        <div class="col text-right">
          <ion-icon  name="checkmark-done-outline" class="ml-3"></ion-icon>
          <ion-label class="font">ثبت نامی</ion-label>
        </div>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col text-right">
          تعداد
        </div>
        <div class="col">
          {{serverData.RegisterNum | perNumber}}  <ion-icon name="body-outline"></ion-icon>
        </div>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col text-right">
          مبلغ
        </div>
        <div class="col">
          {{serverData.RegisterTotalCost | perNumber}}<span class="mr-2">ریال</span>
        </div>
      </div>
    </div>

  </ion-card-content>
  </ion-card>

  <ion-card (click)="single()">
    <ion-card-content>
      <div class="container-fluid">
        <div class="row d-flex justify-content-between">
          <div class="col text-right">
            <ion-icon name="checkmark-outline" class="ml-3"></ion-icon>
            <ion-label class="font"> تک جلسه ای</ion-label>
          </div>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col text-right">
            تعداد
          </div>
          <div class="col">
            {{serverData.SubServiceNum | perNumber}}   <ion-icon name="body-outline"></ion-icon>
          </div>
        </div>
        <div class="row d-flex justify-content-between">
          <div class="col text-right">
            مبلغ
          </div>
          <div class="col">
            {{serverData.SubServiceTotalCost | perNumber}}<span class="mr-2">ریال</span>
          </div>
        </div>
      </div>

    </ion-card-content>
  </ion-card>


  <ion-fab (click)="filterButton()" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button style="color: #0d0d0d" class="font ">
      <ion-icon color="dark" *ngIf="!filter && !loading" name="add"></ion-icon>
      <ion-icon color="dark" *ngIf="filter && !loading" name="close-outline"></ion-icon>
      <ion-spinner *ngIf="loading"></ion-spinner>
    </ion-fab-button>

  </ion-fab>
















</ion-content>
<ion-footer *ngIf="filter" class="m-0" style="--background: rgba(0, 0, 0, 0.8);">
  <app-filter (filterData)="dataFromFilter($event)"></app-filter>
</ion-footer>

