 ion-content {
  --background: rgba(0, 0, 0, 0.8);

}
.no-bg{
  --background: rgba(0, 0, 0, 1);
  color: white;
}
.font{
  font-family: 'Cairo', sans-serif;

}
 ion-card , span{
  font-family: 'Lalezar', cursive;
}
ion-card{
  --background:rgba(0, 0, 0, 0.4);
  color: white;
}
 ion-footer{
   --background:rgba(0, 0, 0, 0.4);
   color: black;
 }
