 ion-content{
  --background: rgba(0, 0, 0, 0.8);

}
.no-bg{
  --background: rgba(0, 0, 0, 1);
  color: white;
}
.font{
  font-family: 'Cairo', sans-serif;
}
 ion-card , span{
  font-family: 'Lalezar', cursive;
}
