<ion-content class="ion-align-items-center ion-justify-content-center">

  <div class="container">
    <div class="row">
      <div class="col col d-flex justify-content-center align-items-center">
        <img src="assets/logo.svg">
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">

        <form  [formGroup]="getFormIP" (ngSubmit)="checkIp()">
          <ion-item class="item-input">
            <ion-label position="floating" class="text-style button">کد مجموعه</ion-label>
            <ion-input formControlName="codeIp"  class="item-form ion-text-center ltr"
                       type="number"></ion-input>
          </ion-item>
          <div class="validation-box">
            <div *ngIf="getFormIP.invalid">&nbsp;</div>
            <div *ngIf="getFormIP.invalid && isSubmit">
              <ion-icon name="information-circle" size="small"></ion-icon>
              <span>شماره کد خود را بدرستی وارد کنید.</span>
            </div>
          </div>
          <button [disabled]="loading"   type="submit" class="mt-4  btn btn-block btn-outline-light btn-ghost">
            <ion-spinner style="height: 15px" *ngIf="loading"></ion-spinner>
            <span *ngIf="!loading"  class="m-1">ارسال کد مجموعه</span>
          </button>
        </form>

      </div>
    </div>



  </div>


</ion-content>
