<ion-content class="ion-align-items-center ion-justify-content-center">

  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">

        <ion-card class="p-5">
          <ion-card-header>
            <ion-card-subtitle class="col d-flex justify-content-center align-items-center"><img src="assets/logo.svg"></ion-card-subtitle>
            <ion-card-title class="col d-flex justify-content-center align-items-center">انتخاب مجموعه</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form>
              <ion-item class="item-input">
                <ion-label position="floating" class="text-style button">کد مجموعه</ion-label>
                <ion-input  class="item-form ion-text-center ltr"
                           type="number"></ion-input>
              </ion-item>
              <button type="submit" class="mt-4 btn btn-block btn-outline-light btn-ghost">ارسال</button>
            </form>

          </ion-card-content>
        </ion-card>

      </div>




    </div>



  </div>


</ion-content>
