<ion-list class="m-0">
  <ion-item>
    <ion-label>
      <ion-row>
        <app-date style="width: 100%" [before]="textDateFrom" (open)="setFromDate($event)"></app-date>
      </ion-row>
    </ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-label>
      <ion-row>
        <app-date style="width: 100%" [before]="textDateUntil" (open)="setUntilDate($event)"></app-date>
      </ion-row>
    </ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-label>
      <ion-row>
        <button (click)="filterAction()" class="btn btn-block btn-outline-danger">ok</button>
      </ion-row>
    </ion-label>
  </ion-item>
</ion-list>
